// COLORS

@color-base : rgb(209, 228, 243);

@color-base-light : lighten(@color-base, 10%);
@color-base-dark : darken(@color-base, 10%); 
@color-base-verydark : darken(@color-base, 40%); 
@color-base-saturate : saturate(@color-base, 30%);
@color-base-desaturate : desaturate(@color-base, 20%);
@color-base-lightness : lightness(desaturate(@color-base, 100%), 30%);

@triadic-secondary : spin(@color-base, -(360 / 3));
@triadic-secondary-light : lighten(@triadic-secondary, 10%);
@triadic-secondary-dark : darken(@triadic-secondary, 10%); 
@triadic-secondary-saturate : saturate(@triadic-secondary, 20%);
@triadic-secondary-desaturate : desaturate(@triadic-secondary, 20%);
@triadic-secondary-lightness : lightness(desaturate(@triadic-secondary, 100%), 30%);

@color-btn-border: #adadad;